.bg-gray {
  background-color: #f7f9fb;
  border:none;
}

hr.uu-short-red {
    margin: 20px auto 40px 0px;
    height: 4px;
    width: 75px;
    background: linear-gradient(-20deg, #750000, #CC0000);
    border: none;
}

hr.uu-short-red.center {
   margin: 0 auto;
}


#pg-10-7> .panel-row-style {
    background-image: url(../img/footer-banner.jpg);
    background-size: cover;
    padding: 80px 30px 80px 30px;
}
