.project-main-banner {
  margin-bottom: 1.3em;
}

.main li {
  margin-bottom: .35rem;
}

.tldr h3 {
  font-size: 2.3rem;
  color: #107f8e;
  margin-top: 0;
}

.sidebar-img {
  margin-bottom: 1.3em;
}

.sidebar h3,
.project-h3 {
  color: #107f8e;
  font-weight: 700;
  font-size: 1.3rem;
}

.sidebar ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  color: #777;
  background: #eee;
  line-height: 1.85rem;
}

.sidebar .cta.cta-alt {
  width: 100%;
  text-align: center;
}
