<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="overrides.css">
  </head>
  <body>
    <div id="container">
      <div id="requestItemWrapper">
        <div id="requestItem" >

          <!--*******************************
                HEADING BAR
          *********************************-->
          <div id="requestItemHeader">
            <div id="print" ng-click="c.print()">Print</div>
            <h4 class="riTitle">DSR-20200710 - Data & Analytics Subject Area - Missionary - Missionary Department Church of Jesus Christ of Latter-Day Saints</h4>
            <div class="two-col-row">
              <p class="data-col">
                <span class="label">Status:&nbsp;</span>
                {{::c.data.results.statusName}}
              </p>
              <p class="data-col">
                <span class="label">Date Created:&nbsp;</span>
                {{::c.data.results.createdOn | date:'mediumDate'}}
              </p>
            </div>
          </div>
          <!--*******************************
          *********************************-->


          <!--*******************************
                PROJECT INFO
          *********************************-->
          <h2>Application or Project Name</h2>
          <div class="form-field">
            {{::findAttrByKey(c.data.attributes, "Application or Project Name")}}
            <br />
            Data & Analytics Subject Area – Missionary
          </div>

          <div class="subData" ng-if="::findAttrByKey(c.data.attributes, 'Description of Application or Project')">
            <h3>Description of Application or Project</h3>
            <div class="form-field" >{{::findAttrByKey(c.data.attributes, "Description of Application or Project")}} <br />
              The requesting product is the OnPrem missionary data warehouse; it will store the data incoming from OPI and TrueNorth that is needed by the missionary department.The data warehouse is the database for all available missionary-related data. It has inputs from various sources, including Area Book Planner, Ed App, and with this DSA, data from the MTC (OPI and TrueNorth).</div>
          </div>

          <div class="subData" ng-if="::findAttrByKey(c.data.attributes, 'Necessity of Data')">
            <h3>Necessity of Data</h3>
            <div class="form-field">
              {{::findAttrByKey(c.data.attributes, "Necessity of Data")}}
              <br />
              The Language Learning tests that missionaries are going to have while on their missions will be overseen by the MTC. The data will help mission presidents understand the proficiency of missionaries learning new languages. Data will be provided at an aggregated level.

            </div>
          </div>

          <div class="subData" ng-if="::findAttrByKey(c.data.attributes, 'Scope and Control')">
            <h3>Scope and Control</h3>
            <div class="form-field">
              {{::findAttrByKey(c.data.attributes, "Scope and Control")}}
              <br />
              Access to Raw data will be limited to the warehousing team (ICS/BI and missionary reporting team) will bring the data in and model it for consumption in reports; the data will be reported at an aggregate level per mission. Accesses and distribution of the reports created will be to Mission leadership, including Area Mission Specialists, Area Presidencies, Mission Presidents, and missionary department internal staff. Data will be stored during a missionaries tenure and as needed for aggregate comparison for the term of this agreement.
            </div>
          </div>

          <div class="subData">
            <h3>Application Identity</h3>
            <div class="form-field"><u>System Account BYU-ID:</u> 06-182-4622 (Application, Riskonnect) [rmisapp]</div>
          </div>

          <!--*******************************
              END-PROJECT INFO
          *********************************-->


          <!--*******************************
                DATA INFO
          *********************************-->
          <h2>Data</h2>
          <div class="subData">
            <h3>Requested Data</h3>
            <p class="form-field dataGlossary">Missionary Training Center Glossary</p>
            <ul>
              <li>Language Assessment Exam Language</li>
              <li>Language Assessment Examinee First Name</li>
              <li>Language Assessment Examinee Surname</li>
              <li>Language Assessment Exam Language</li>
              <li>Language Assessment Examinee First Name</li>
              <li>Language Assessment Examinee Surname</li>
              <li>Language Assessment Exam Language</li>
              <li>Language Assessment Examinee First Name</li>
            </ul>

            <p class="form-field dataGlossary">LDS Church Glossary</p>
            <ul>
              <li>LDS Missionary Email Address</li>
            </ul>
          </div>


          <div class="subData">
            <h3>Additonally Included Data</h3>
            <p class="form-field dataGlossary">Identity Glossary</p>
            <ul>
              <li>Birth Country Code</li>
              <li>Teletype Flag</li>
              <li>Rest of Name</li>
              <li>Restricted Person Flag</li>
              <li>Home Country Code</li>
              <li>Hometown</li>
              <li>Citizenship Country Code</li>
              <li>Home State/Province</li>
            </ul>

            <p class="form-field dataGlossary">Payroll Glossary</p>
            <ul>
              <li>Employee Workgroup</li>
            </ul>
          </div>

          <div class="subData">
            <h3>Data Source</h3>
            <p class="form-field">
              MDCONNECT > LTI_OPIC_SCORES<br />
              MDCONNECT > TRUENORTH_USER_SCORES
            </p>
          </div>

          <div class="subData" ng-if="::findAttrByKey(c.data.attributes, 'Requested Information Map')">
            <h3>Requested Information Map</h3>
            <div class="form-field">
              <span ng-bind-html="::findAttrByKey(c.data.attributes, 'Requested Information Map')">Requested APIs:<br />
              . . api.byu.edu/identity/person/resolveIdentity/v1<br />

              . . . . Requested business terms:<br />
              . . . . . . (Identity) BYU ID<br />
              . . . . . . (Identity) Net ID<br />
              <br />
              . . . . Unrequested terms:<br />
              . . . . . . (Identity) Person ID<br />
              . . . . . . (Identity) Sort Name<br />
              <br />
              . . . . *Fields with no Business Terms:<br />
              . . . . . . Unrequested:<br />
              . . . . . . . . ResolveIdentityServiceRoot.ResolveIdentityService.authorized<br />

              <br />
              . . api.byu.edu/byuapi/persons/v3, addresses<br />

              . . api.byu.edu/identity/person/resolveIdentity/v1<br />

              . . . . Requested business terms:<br />
              . . . . . . (Identity) BYU ID<br />
              . . . . . . (Identity) Net ID<br />
              <br />
              . . . . Unrequested terms:<br />
              . . . . . . (Identity) Person ID<br />
              . . . . . . (Identity) Sort Name<br />
              <br />
              . . . . *Fields with no Business Terms:<br />
              . . . . . . Unrequested:<br />
              . . . . . . . . ResolveIdentityServiceRoot.ResolveIdentityService.authorized<br />

              <br />
              . . api.byu.edu/byuapi/persons/v3, addresses<br />
              </span>
            </div>
          </div>


        <div class="subData" ng-if="::findAttrByKey(c.data.attributes, 'Additional Information Requested')">
          <h3>Additional Information Requested</h3>
          <div class="form-field additionalInfoRequested">
            {{::findAttrByKey(c.data.attributes, "Additional Information Requested")}}
            <br /><br />
            I was not able to find a work location description, job title, weekly compensation rate, normal hours worked, and payroll tax state. This information is used by our third party claims administrator to compensate BYU employees who have work related injuries.
            <br /><br />

            <u>Per email from Luke Rowley on 3 Mar 2020:</u>
            <br /><br />

            Work Location is found in the Address Table with an Address Type = WRK.
            <br /><br />

            Job Title will come in the job_code Object.
            <br /><br />
            Weekly Compensation Rate can be caluclated based on the compensation_rate and the pay_frequency in the Compensations fieldset.  o The consuming system would need to divide the Annual rate by 52. If the compensation_rate_frequency is "Hourly", then you would take the compensation_rate and multiply it by the hours worked in a week.
            <br /><br />

            Normal Hours Worked and Payroll Tax State are not currently available, but discussions are being held to add this data in the future.
          </div>
        </div>

        <h2>Development Shop</h2>
        <div class="subData" ng-if="c.data.results.developmentShop">
          <div class="form-field">
            {{::c.data.results.developmentShop}}
            <br />
            LDS - Missionary
          </div>
        </div>

          <div class="two-col-row">
            <div class="data-col">
              <h2>Requester</h2>
              <div class="subData">
                <p class="form-field">
                  <strong>{{::findAttrByKey(c.data.attributes, "Requester Name")}}</strong><br />
                  {{::findAttrByKey(c.data.attributes, "Requester Role")}}<br />
                  {{::findAttrByKey(c.data.attributes, "Requester Email")}}<br />
                  {{::findAttrByKey(c.data.attributes, "Requester Phone")}}
                </p>
              </div>
            </div>

            <div class="data-col">
              <h2>Sponsor</h2>
              <div class="subData">
                <p class="form-field">
                  <strong>{{::findAttrByKey(c.data.attributes, "Sponsor Name")}}</strong><br />
                  {{::findAttrByKey(c.data.attributes, "Sponsor Role")}} |
                  <span ng-bind-html="::findAttrByKey(c.data.attributes, 'Requesting Organization')"> </span> <br />
                  {{::findAttrByKey(c.data.attributes, "Sponsor Email")}}<br />
                  {{::findAttrByKey(c.data.attributes, "Sponsor Phone")}}
                </p>
              </div>
            </div>
          </div>
          <!--*******************************
              END-DATA INFO
          *********************************-->

        <hr />


        <div ng-if="c.data.dsas.length > 0" style="page-break-before:always;">
          <h2>Associated Data Sharing Agreements</h2>
        </div>

        <!--*******************************
              DSA BLOCK
        *********************************-->
        <div class="dsaBlock" ng-repeat="dsa in c.data.dsas" ng-class-odd="'subrequestColor'">
          <div class="subrequest">
            <div class="subrequestNameWrapper">
              <h5 class="subrequestName">DSA-20200710 - Data & Analytics Subject Area – Missionary - Missionary Department Church of Jesus Christ of Latter-Day Saints
              {{::dsa.dsaSignifier}}</h5>
              <div class="two-col-row">
                <p class="data-col"><span class="label"><strong>Status:&nbsp;</strong></span>{{::dsa.dsaStatus}}</p>
                <p class="data-col">
                  <span class="label"><strong>Effective Start Date:&nbsp;</strong></span><span id="dsa{{dsa.dsaId}}-{{effectiveDate}}">{{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId+"Effective Start Date")| date:'mediumDate'}}</span>
                </p>
              </div>
            </div>
            <div class="dsaBody">
              <h6 class="dsaItem">Requested Data:</h6>
              <div class="subData">
                <p class="form-field dataGlossary">LDS Church Glossary</p>
                <ul>
                  <li>LDS Missionary Email Address</li>
                </ul>
              </div>

              <h6 class="dsaItem">Additonally Included Data:</h6>
              <div class="subData">
                <p class="form-field dataGlossary">Missionary Training Center Glossary</p>
                <ul>
                  <li>Language Assessment Exam Language</li>
                  <li>Language Assessment Examinee First Name</li>
                  <li>Language Assessment Examinee Surname</li>
                  <li>Language Assessment Exam Language</li>
                  <li>Language Assessment Examinee First Name</li>
                  <li>Language Assessment Examinee Surname</li>
                  <li>Language Assessment Exam Language</li>
                  <li>Language Assessment Examinee First Name</li>
                </ul>

                <p class="form-field dataGlossary">LDS Church Glossary</p>
                <ul>
                  <li>LDS Missionary Email Address</li>
                </ul>
              </div>

            <div ng-if="::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +'Data Steward Response')">
              <h6 class="dsaItem">Data Steward Response:&nbsp;</h6>
              <div class="subData">
                <p>
                  {{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +"Data Steward Response")}}
                </p>
              </div>

            </div>
            <div class="two-col-row">

              <div class="data-col">
                <h6 class="dsaItem">Custodian&nbsp;</h6>
                <div class="subData">
                  <p>
                    <strong>{{dsa.custodian}}</strong>
                    <br/>{{dsa.custodianEmail}}
                    <br/>{{dsa.custodianPhone}}
                  </p>
                </div>
              </div>

              <div class="data-col">
                <h6 class="dsaItem">Steward&nbsp;</h6>
                <div class="subData">
                  <p>
                    <strong>{{dsa.steward}}</strong>
                    <br/>{{dsa.stewardEmail}}
                    <br/>{{dsa.stewardPhone}}
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--*******************************
            END - DSA BLOCK
      *********************************-->

      <!--*******************************
            DSA BLOCK
      *********************************-->
      <div class="dsaBlock" ng-repeat="dsa in c.data.dsas" ng-class-odd="'subrequestColor'">
        <div class="subrequest">
          <div class="subrequestNameWrapper">
            <h5 class="subrequestName">DSA-20200710 - Data & Analytics Subject Area – Missionary - Missionary Department Church of Jesus Christ of Latter-Day Saints
            {{::dsa.dsaSignifier}}</h5>
            <div class="two-col-row">
              <p class="data-col"><span class="label"><strong>Status:&nbsp;</strong></span>{{::dsa.dsaStatus}}</p>
              <p class="data-col">
                <span class="label"><strong>Effective Start Date:&nbsp;</strong></span><span id="dsa{{dsa.dsaId}}-{{effectiveDate}}">{{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId+"Effective Start Date")| date:'mediumDate'}}</span>
              </p>
            </div>
          </div>
          <div class="dsaBody">
            <h6 class="dsaItem">Requested Data:</h6>
            <div class="subData">
              <p class="form-field dataGlossary">LDS Church Glossary</p>
              <ul>
                <li>LDS Missionary Email Address</li>
              </ul>
            </div>

            <h6 class="dsaItem">Additonally Included Data:</h6>
            <div class="subData">
              <p class="form-field dataGlossary">Missionary Training Center Glossary</p>
              <ul>
                <li>Language Assessment Exam Language</li>
                <li>Language Assessment Examinee First Name</li>
                <li>Language Assessment Examinee Surname</li>
                <li>Language Assessment Exam Language</li>
                <li>Language Assessment Examinee First Name</li>
                <li>Language Assessment Examinee Surname</li>
                <li>Language Assessment Exam Language</li>
                <li>Language Assessment Examinee First Name</li>
              </ul>

              <p class="form-field dataGlossary">LDS Church Glossary</p>
              <ul>
                <li>LDS Missionary Email Address</li>
              </ul>
            </div>

          <div ng-if="::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +'Data Steward Response')">
            <h6 class="dsaItem">Data Steward Response:&nbsp;</h6>
            <div class="subData">
              <p>
                {{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +"Data Steward Response")}}
              </p>
            </div>

          </div>
          <div class="two-col-row">

            <div class="data-col">
              <h6 class="dsaItem">Custodian&nbsp;</h6>
              <div class="subData">
                <p>
                  <strong>{{dsa.custodian}}</strong>
                  <br/>{{dsa.custodianEmail}}
                  <br/>{{dsa.custodianPhone}}
                </p>
              </div>
            </div>

            <div class="data-col">
              <h6 class="dsaItem">Steward&nbsp;</h6>
              <div class="subData">
                <p>
                  <strong>{{dsa.steward}}</strong>
                  <br/>{{dsa.stewardEmail}}
                  <br/>{{dsa.stewardPhone}}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--*******************************
          END - DSA BLOCK
    *********************************-->

    <!--*******************************
          DSA BLOCK
    *********************************-->
    <div class="dsaBlock" ng-repeat="dsa in c.data.dsas" ng-class-odd="'subrequestColor'">
      <div class="subrequest">
        <div class="subrequestNameWrapper">
          <h5 class="subrequestName">DSA-20200710 - Data & Analytics Subject Area – Missionary - Missionary Department Church of Jesus Christ of Latter-Day Saints
          {{::dsa.dsaSignifier}}</h5>
          <div class="two-col-row">
            <p class="data-col"><span class="label"><strong>Status:&nbsp;</strong></span>{{::dsa.dsaStatus}}</p>
            <p class="data-col">
              <span class="label"><strong>Effective Start Date:&nbsp;</strong></span><span id="dsa{{dsa.dsaId}}-{{effectiveDate}}">{{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId+"Effective Start Date")| date:'mediumDate'}}</span>
            </p>
          </div>
        </div>
        <div class="dsaBody">
          <h6 class="dsaItem">Requested Data:</h6>
          <div class="subData">
            <p class="form-field dataGlossary">LDS Church Glossary</p>
            <ul>
              <li>LDS Missionary Email Address</li>
            </ul>
          </div>

          <h6 class="dsaItem">Additonally Included Data:</h6>
          <div class="subData">
            <p class="form-field dataGlossary">Missionary Training Center Glossary</p>
            <ul>
              <li>Language Assessment Exam Language</li>
              <li>Language Assessment Examinee First Name</li>
              <li>Language Assessment Examinee Surname</li>
              <li>Language Assessment Exam Language</li>
              <li>Language Assessment Examinee First Name</li>
              <li>Language Assessment Examinee Surname</li>
              <li>Language Assessment Exam Language</li>
              <li>Language Assessment Examinee First Name</li>
            </ul>

            <p class="form-field dataGlossary">LDS Church Glossary</p>
            <ul>
              <li>LDS Missionary Email Address</li>
            </ul>
          </div>

        <div ng-if="::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +'Data Steward Response')">
          <h6 class="dsaItem">Data Steward Response:&nbsp;</h6>
          <div class="subData">
            <p>
              {{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +"Data Steward Response")}}
            </p>
          </div>

        </div>
        <div class="two-col-row">

          <div class="data-col">
            <h6 class="dsaItem">Custodian&nbsp;</h6>
            <div class="subData">
              <p>
                <strong>{{dsa.custodian}}</strong>
                <br/>{{dsa.custodianEmail}}
                <br/>{{dsa.custodianPhone}}
              </p>
            </div>
          </div>

          <div class="data-col">
            <h6 class="dsaItem">Steward&nbsp;</h6>
            <div class="subData">
              <p>
                <strong>{{dsa.steward}}</strong>
                <br/>{{dsa.stewardEmail}}
                <br/>{{dsa.stewardPhone}}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--*******************************
        END - DSA BLOCK
  *********************************-->

  <!--*******************************
        DSA BLOCK
  *********************************-->
  <div class="dsaBlock" ng-repeat="dsa in c.data.dsas" ng-class-odd="'subrequestColor'">
    <div class="subrequest">
      <div class="subrequestNameWrapper">
        <h5 class="subrequestName">DSA-20200710 - Data & Analytics Subject Area – Missionary - Missionary Department Church of Jesus Christ of Latter-Day Saints
        {{::dsa.dsaSignifier}}</h5>
        <div class="two-col-row">
          <p class="data-col"><span class="label"><strong>Status:&nbsp;</strong></span>{{::dsa.dsaStatus}}</p>
          <p class="data-col">
            <span class="label"><strong>Effective Start Date:&nbsp;</strong></span><span id="dsa{{dsa.dsaId}}-{{effectiveDate}}">{{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId+"Effective Start Date")| date:'mediumDate'}}</span>
          </p>
        </div>
      </div>
      <div class="dsaBody">
        <h6 class="dsaItem">Requested Data:</h6>
        <div class="subData">
          <p class="form-field dataGlossary">LDS Church Glossary</p>
          <ul>
            <li>LDS Missionary Email Address</li>
          </ul>
        </div>

        <h6 class="dsaItem">Additonally Included Data:</h6>
        <div class="subData">
          <p class="form-field dataGlossary">Missionary Training Center Glossary</p>
          <ul>
            <li>Language Assessment Exam Language</li>
            <li>Language Assessment Examinee First Name</li>
            <li>Language Assessment Examinee Surname</li>
            <li>Language Assessment Exam Language</li>
            <li>Language Assessment Examinee First Name</li>
            <li>Language Assessment Examinee Surname</li>
            <li>Language Assessment Exam Language</li>
            <li>Language Assessment Examinee First Name</li>
          </ul>

          <p class="form-field dataGlossary">LDS Church Glossary</p>
          <ul>
            <li>LDS Missionary Email Address</li>
          </ul>
        </div>

      <div ng-if="::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +'Data Steward Response')">
        <h6 class="dsaItem">Data Steward Response:&nbsp;</h6>
        <div class="subData">
          <p>
            {{::findDSAAttrByKey(c.data.dsaAttributes, dsa.dsaId +"Data Steward Response")}}
          </p>
        </div>

      </div>
      <div class="two-col-row">

        <div class="data-col">
          <h6 class="dsaItem">Custodian&nbsp;</h6>
          <div class="subData">
            <p>
              <strong>{{dsa.custodian}}</strong>
              <br/>{{dsa.custodianEmail}}
              <br/>{{dsa.custodianPhone}}
            </p>
          </div>
        </div>

        <div class="data-col">
          <h6 class="dsaItem">Steward&nbsp;</h6>
          <div class="subData">
            <p>
              <strong>{{dsa.steward}}</strong>
              <br/>{{dsa.stewardEmail}}
              <br/>{{dsa.stewardPhone}}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--*******************************
      END - DSA BLOCK
*********************************-->



      <hr />
      <div class="clear"></div>
          <div ng-if="c.data.policies.length > 0" style="page-break-before:always;">
            <h2 >Data Usage Policies</h2>
            <div ng-repeat="p in c.data.policies">
              <h4>
                {{p.policyName}}
              </h4>
              <div ng-bind-html="p.policyDescription">
              </div>
            </div>
        </div>
    </div>


  </body>
</html>
