/*****************************
NEW CLASSES & ID's I ADDED
------------------------------
#requestItemHeader
.subData
.dataGlossary
.additionalInfoRequested
.dsaBlock
.dsaBody
.dsaItem
******************************/

body {
  margin:0;
}

#requestItem h2 {
  color: #0E3264;
  margin: 30px 0 5px 0;
}

#container {
  background: none;
}

#requestItemWrapper {
  box-shadow: none;
  width: 90%;
  margin: 0;
}

#requestItem {
  margin: 0;
}

#requestItem h3 {
  border: none;
  box-shadow: none;
  color: #0E3264;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 15px 0;;
  padding: 0;
  
}

#requestItem .two-col-row .data-col .form-field,
#requestItem .subrequest .form-field,
#requestItem .form-field {
  border:none;
  box-shadow: none;
  color: #717171;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  line-height: 1.2rem;
  padding: 0;
}

#requestItem #print {
  border: 2px solid #fff;
  box-shadow: none;
  float: unset;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1em;
  padding: 6px 22px;
  text-align: center;
  top: unset;
  width: 50px;
}

#requestItem #print:hover {
  background: #fff;
  color: #114477;
}

#requestItemHeader {
  background: #114477;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  margin: 0 -7% 2em -7%;
  padding: 2% 7%;
}

#requestItem #requestItemHeader .two-col-row span.label,
#requestItem #requestItemHeader .two-col-row span.label,
#requestItem #requestItemHeader .status span.label {
  font-weight: bold;
  letter-spacing: .015rem;
}

#requestItem #requestItemHeader .two-col-row span.label,
#requestItem #requestItemHeader .two-col-row span.label,
#requestItem #requestItemHeader .status span.label,
#requestItem #requestItemHeader .two-col-row p,
#requestItem #requestItemHeader .two-col-row p,
#requestItem #requestItemHeader .status p {
  color: #fff;
}

#requestItem .riTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .05rem;
  margin: 5px 0 15px 0;
}

.label {
  padding: 10px 0;
}

.subData {
  padding-left: 30px;
  margin: 10px 0;
}

.subData ul {
  color: #717171;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2rem;
  margin-bottom: 25px;
  margin-top: 0;
}
.subData ul li {
  margin-bottom: 4px;
}

#requestItem .subData .form-field.dataGlossary {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
}

#requestItem .subData .form-field.additionalInfoRequested {
  font-style: italic;
}

.dsaBlock {
  background: #D8DEE6;
  margin: 25px 0;
}

.dsaBlock:nth-child(even) {
  background: #f9f9f9;
}

.subrequestNameWrapper {
  background: #114477;
  color: #fff;
  padding: 18px;
  padding-top: 20px;
}

.dsaBlock:nth-child(even) .subrequestNameWrapper {
  background: #787878;
}

#requestItem .subrequest .subrequestNameWrapper .subrequestName {
  color: #fff;
  font-weight: bold;
  margin-bottom: 1em;
}

#requestItem .subrequest .subrequestNameWrapper .two-col-row span.label,
#requestItem .subrequest .subrequestNameWrapper .two-col-row p {
  color: #fff;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: .03rem;
}

.dsaBody {
  padding: 18px;
  padding-bottom: 5px;
}

.subrequestName {
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-weight:500;
  letter-spacing: .02rem;
}

.dsaBody h6.dsaItem {
  color: #114477;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 10px 0;
}

#requestItem .dsaBody .subData .form-field {
  background: unset;
  color: #4A4A4A;
  font-size: 12px;
  font-weight: bold;
}

.dsaBody .subData ul {
  color: #4A4A4A;
  font-size: 12px;
  line-height: 15px;
}

.dsaBody .subData p {
  color: #4A4A4A;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  }
