
.PromoFullWidth-container .PromoFullWidth-content .PromoFullWidth-title span {
  font-size: 54px;
}

.RichTextFullWidth-content {
  max-width: 100%;
}

.PromoIconOnTopLarge {
  max-width: 100%;
}

main div.RichTextFullWidth {
  margin-top: 0;
  margin-bottom: 0;
}

.RichTextFullWidth-items span.Enhancement {
  margin-top: 0;
}

.RichTextFullWidth-items span.Enhancement a.Link.btn {
  text-transform: uppercase;
}

.PromoCardBackground-cta.promo-cta a.btn {
  text-transform: uppercase;
}

span.Enhancement figure.Figure {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.PromoIconOnTopLarge-content {
  background-color: #E6E6E6;
  padding: 20px 30px 46px 30px;
}

.PromoIconOnTopLarge-content .PromoIconOnTopLarge-description.promo-description {
  padding: 20px;
}

.TwoColumnContainer-column .container-column-wrapper .PromoIconOnTopLarge.text-center {
  margin-top: 0;
}

h5.cms-heading-h5 {
  text-align: right;
  color: #002E5D;
  font-size: 16px;
}

h3.cms-heading-h3 {
    color: white;
    font-size: 30px;
}

.PromoCardImageOnTop-content .PromoCardImageOnTop-title.promo-title a:hover {
  text-decoration: underline;;
}

.ListCardImageOnTop .list {
  margin-top: 0;
}

.PromoCardBackground {
  max-width: 100%;
}

.PromoCardBackground-media::before {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.TwoColumnContainer-column .PromoIconOnTopLarge-media img.Image {
  border-radius: 50%;
  border: 5px solid #10a170;
  padding: 9px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .PromoFullWidth-container .PromoFullWidth-content .PromoFullWidth-title span {
    font-size: 38px;
  }
}

@media only screen and (min-width: 1024px) {
  .PromoIconOnTopLarge {
    max-width: 100%;
  }

  h3.cms-heading-h3::after {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    right: 44%;
    top: 127%;
    width: 70px;
  }
}

@media only screen and (min-width: 1440px) {
  .PromoFullWidth,
  .PromoFullWidth-Large {
    min-height: 320px;
    padding: 40px 0;
  }

  .PromoFullWidth-content,
  .PromoFullWidth-Large-content {
    max-width: 1170px;
  }
}
