
a.Link.btn {
  text-transform: uppercase;
}

.PromoFullWidth-cta.promo-cta a.btn {
  text-transform: uppercase;
}

.Page-contentWrapper div.Page-headingWrapper {
  text-align: left;
  background-position: center 69%;
}

.Page-contentWrapper .Page-headingWrapper .Page-titleSection {
  max-width: 1170px;
}

.Page-main .PromoFullWidth .PromoFullWidth-container .PromoFullWidth-content {
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 40px;
}

.Page-main .PromoFullWidth {
  padding: 0 45px;
}

.Page-main .PromoFullWidth-title a {
  color: #002e5d;
}

.PromoImageSmall.text-left.promo-has-dropshadow.image-left.promo-has-media.content-vertical-center.content-horizontal-left.article.image-top {
  padding: 60px 30px;
}

.PromoImageSmall .PromoImageSmall-content .PromoImageSmall-title.promo-title {
  align-items: flex-end;
  display: flex;
  font-size: 40px;
}

.PromoImageSmall .PromoImageSmall-content .PromoImageSmall-title.promo-title a.Link {
  color: #002e5d;
  text-transform: uppercase;
}

.PromoImageSmall .PromoImageSmallCircular-media .Image {
  border: 5px solid #10a170;
  border-radius: 50%;
  padding: 16px;
}

.ListImageSmall .PromoImageSmallCircular-media .Image{
  border: 4px solid #10a170;
  border-radius: 50%;
  padding: 10px;
}

.container-fixed-small, .ListImageLarge-items, .ListImageMedium-items, .ListImageSmall-items {
  margin-top: 30px;
  max-width: 1170px;
}

.Page-titleSection h1.Page-pageHeading {
  font-size: 54px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .PromoImageSmall .PromoImageSmall-content .PromoImageSmall-title.promo-title {
    font-size: 28px;
  }

  .Page-contentWrapper div.Page-headingWrapper {
    text-align: center;
  }

  .Page-titleSection h1.Page-pageHeading {
    font-size: 38px;
  }

  .PromoImageSmall .PromoImageSmallCircular-media .Image {
    border: 4px solid #10a170;
    padding: 7px;
  }
}

@media only screen and (min-width: 768px) {
  .Page-contentWrapper div.Page-headingWrapper {
    padding: 130px 40px;
  }

  .PromoImageSmall-content .PromoImageSmall-media {
    max-width: 400px;
    margin: 0 40px 0 0;
  }
}
