
.RichTextFullWidth.promo-has-background .RichTextFullWidth-container {
  padding: 22px 20px;
}

h3.cms-heading-h3 {
  color: white;
  margin: 0;
  margin-bottom: -20px;
}

div.ListImageOnTopCircular-title.list-title {
  margin-bottom: 40px;
}

div.ListImageOnTopCircular-title.list-title span.Link {
  color: #002e5d;
  font-size: 22px;
  font-weight: 900;
}

.PromoImageOnTopCircular.PromoAbstract.text-center.image-top {
  border-top: 15px solid #10A170;
  padding: 16px;
  min-height: 460px;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.15);
}

.PromoImageOnTopCircular-media img {
  border: 4px solid #10A170;
  padding: 6px;
  width: 154px;
  transition: all .14s;
  transition-timing-function: ease-in;
}

.PromoImageOnTopCircular-media img:hover {
  border: 4px solid #002e5d;
}

.PromoImageOnTopCircular-title.promo-title-small a.Link {
  font-size: 13px;
  text-transform: uppercase;
}

.Page-headingWrapper {
  height: 320px;
  background-position: center 72%;
}

.Page-headingWrapper .Page-titleSection  {
  max-width: 1170px;
  text-align: left;
}

.Page-headingWrapper .Page-titleSection h1.Page-pageHeading {
  font-size: 54px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px){
  .Page-headingWrapper .Page-titleSection  {
    max-width: 1170px;
    text-align: center;
  }

  .Page-headingWrapper .Page-titleSection h1.Page-pageHeading {
    font-size: 38px;
  }
}

@media only screen and (min-width: 768px){
  .PromoImageOnTopCircular-media img {
    max-width: 150px;
  }

  .PromoImageOnTopCircular-title.promo-title-small a.Link {
    font-size: 17px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1024px) {
  .PromoImageOnTopCircular {
    width: 230px;
  }
}

@media only screen and (min-width: 1440px) {
  .PromoImageOnTopCircular {
    width: 265px;
  }
}
