.display-flex {
  display: flex;
}

.methodology-grid, .projects-grid {
  display: flex;
}

.methodology-element {
  padding: 0 4em 3em 4em;
}

.projects-grid {
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.projects-element {
  max-width: 370px;
  padding-bottom: 4em;
}

.about-grid {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-gap: 3rem;
}

.content-main {
  display: grid;
  grid-template-columns: 1fr 18rem;
  gap: 3rem;
  padding-bottom: 3em;
}

.tldr-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 0px 3rem;
  gap: 2rem;
}

.tldr-grid p {
  color: rgb(119, 119, 119);
  margin: 0px;
  background: rgb(238, 238, 238);
  padding: .8rem 1.3rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4rem;
}

.cta-btn-grid {
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width: 998px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    padding:0;
    grid-column-gap: 3rem;
  }
}

@media (max-width: 768px) {
  .methodology-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .methodology-element {
    padding: 0 .6em 2em .6em;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding:0;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding:0;
  }
  .content-main {
    grid-template-columns: 1fr;
  }

  .tldr-grid {
    grid-template-columns: 1fr;
  }

  .cta-btn-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
